[submodule "src/bitbake"]
	path = src/bitbake
	url = git://github.com/openembedded/bitbake.git
[submodule "src/meta-openembedded"]
	path = src/meta-openembedded
	url = git://github.com/openembedded/meta-oe.git
[submodule "src/meta/oe-core"]
	path = src/meta/oe-core
	url = git://github.com/openembedded/oe-core.git
[submodule "src/meta-enna"]
	path = src/meta-enna
	url = git://github.com/naguirre/meta-enna.git
[submodule "src/openembedded-core"]
	path = src/openembedded-core
	url = git://github.com/openembedded/oe-core.git
[submodule "src/meta-allwinner"]
	path = src/meta-allwinner
	url = git://github.com/naguirre/meta-allwinner.git
[submodule "src/meta-angstrom"]
	path = src/meta-angstrom
	url = git://github.com/Angstrom-distribution/meta-angstrom
[submodule "src/meta-intel"]
	path = src/meta-intel
	url = git://git.yoctoproject.org/meta-intel
[submodule "src/meta-cubox"]
	path = src/meta-cubox
	url = https://github.com/naguirre/meta-cubox.git
[submodule "src/meta-raspberrypi"]
	path = src/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
